@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
 
// # Front-end Style Guide
// ========================

// ## Layout
// The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px
// ========================

// ## Colors
// ### Primary
$color-link-btn-red: hsl(356, 100%, 66%); // Light red (CTA text)
$color-link-btn-hover: hsl(355, 100%, 74%); // Very light red (CTA hover background)
$color-text-header: hsl(208, 49%, 24%); // Very dark blue (headings)

// ### Neutral
$color-text-main-White: hsl(0, 0%, 100%); // (text)
$color-text-footer: hsl(240, 2%, 79%); // Grayish blue (footer text)
$color-section-bg: hsl(207, 13%, 34%); // Very dark grayish blue (body copy)
$color-footer-bg: hsl(240, 10%, 16%); // Very dark black blue (footer background)

// ### Gradient
// Background gradient - Intro/CTA mobile nav:
$color-headGrdnd-start: hsl(13, 100%, 72%); // Very light red
$color-headGrdnd-end: hsl(353, 100%, 62%); // Light red

// Background gradient - body:
$color-mainGrdnd-start: hsl(237, 17%, 21%); // Very dark gray blue
$color-mainGrdnd-end: hsl(237, 23%, 32%); // Very dark desaturated blue

$font-Overpass: "Overpass", sans-serif; //body, description
$font-Ubuntu: "Ubuntu", sans-serif; //menu, header

// ### Fonts
// ========================
// - Family: [Overpass](https://fonts.google.com/specimen/Overpass?preview.text_type=custom)
// - Weights: 300, 600
$font-Overpass-w300: 300;
$font-Overpass-w600: 600;
// - Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom)
// - Weights: 400, 500, 700
$font-Ubuntu-w400: 400;
$font-Ubuntu-w500: 500;
$font-Ubuntu-w700: 700;

// ### variables
// ========================
$main-container-width: 1440px;
$content-container-width: 1140px;





//MAIN STYLE//
body{
    width: 100%;
    font-family: $font-Overpass;
    font-weight: $font-Overpass-w300;
    
    line-height: 1.5;
    letter-spacing: 0.07rem;

    h1,
    h2,
    h3{
        font-weight: $font-Overpass-w600;
        color: $color-text-header;
    }
     h4,
    a,
    
    li,
    *-item{
        font-family: $font-Ubuntu;
        font-weight: $font-Ubuntu-w700;
        color: $color-text-header;
        text-decoration: none;
        list-style-type: none;
        ;
    }
    a:hover{
        text-decoration: underline;
    }

    //MEDIA QUERIES FOR MIN-SCREEN 375px//
    @media (max-width:375px){
        &::before{
            content:"";
            color: red;
            font-size: 5rem;
            line-height: 1.5;
        }
    }
}
.container{
    max-width: $main-container-width;
    margin: 0 auto;

    @media(max-width:374px){
        display: none;
    }
    .container__content{
        max-width: $content-container-width;
        margin: 0 auto;
    }
}

//HEADER//
.header{
     width: 100%;
     height: auto;
        background: linear-gradient(to right top, $color-headGrdnd-start, $color-headGrdnd-end);
        border-radius: 0 0 0 100px;
        overflow: hidden;
}
.header-cover{
    padding: 0 20px;

    &bg{
        width:100%;
        height: 100%;
        background-image: url(./images/bg-pattern-intro-mobile.svg);
   background-position-x:35% ;
   background-position-y:35% ;

   @media(min-width:1200px){
    background-image: url(./images/bg-pattern-intro-desktop.svg);
    background-position-x:25% ;
    background-position-y:center;
   }
    }
}

//STYLES FOR LINK BUTTONS//
.link_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    .link_btn_item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 135px *1.15;
        height:50px;
        border-radius: 25px;
        text-decoration: none;

        @media(min-width:992px){
            width:135px;
        }
    }
}

//STYLES FOR NAVIGATION//
.header__navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    gap: 20px;
}

.container__navBar{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    padding: 0 20px;
    overflow: auto;


    @media (min-width:922px){
        position: relative;
        
        height: auto;
        top: 0;
        left: 0;
        padding: 0;
        overflow: inherit;
    }
    &-active{
        top:100px;
        position: fixed;
    }
}

.container__navBar_cover{
    width: 100%;
     border-radius: 10px;
     display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 10px 20px $color-section-bg ;
        padding-bottom: 20px;


        @media (min-width:922px){
            flex-direction: row;
            justify-content: space-between;
 background-color: inherit;
            padding: 0;
            box-shadow: none;
            
        }
}

//STYLES FOR MENU BAR//
.NavBar__menu{
    display:flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    @media (min-width:922px){
        flex-direction:row;
        width: auto;
    }
}

.narBar__menu_item{
    position: relative;

    h4{
        &::after{
            display: inline-block;
            content:url(./images/icon-arrow-dark.svg);
      margin-left:20px - 15px ;
        }

        &::hover {
            text-decoration: underline;
            cursor: pointer;

            &::after{
                transform: rotate(-90deg);
            }
        }


        @media (min-width:922px){
            color: hsl(0, 0%, 100%);

            &::after{
                content: url(./images/icon-arrow-light.svg);
            }

            &:hover{
                color:hsl(0, 0%, 100%) ;
            }
        }
    }
}


//STYLES FOR MENU DROPDOWN//
.menu_item_dropdown{
    position: relative;
    padding-top: 20px;

    @media (min-width:922px){
        position: absolute;
    }
}

.item_dropdown_cover{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: transparentize($color: $color-mainGrdnd-end, $amount: 0.8);

    li{
        margin-top: 20px;
    }

    @media (min-width:922px){
        background-color: #fff;
        padding-right: 20px * 2;
        box-shadow: 0 5px 5px 5px transparentize($color: $color-section-bg, $amount: 0.8);
    }
}

//STYLES FOR NAVBAR LINKS//
.navBar__linksBtn{
    flex-direction: column;
    gap:0;
    width:95%;
border-top: solid 1px transparentize($color: $color-mainGrdnd-end, $amount: 0.8);
margin-top: 20px;
.link_btn_item{

    &:first-child{

        &:hover{
            text-decoration: underline;
        }
    }

    &:last-child{
        color: $color-text-main-White;
        background: linear-gradient(to right, $color-headGrdnd-start, $color-headGrdnd-end);

        &:hover{
            color: $color-link-btn-red;
            background: linear-gradient(to right, $color-headGrdnd-start, $color-link-btn-hover);
        }

    }
}


@media (min-width:922px){
    flex-direction: row;
    gap: 20px;
    width: auto;
    border: none;
    margin: 0;

    .link_btn_item{

        &:first-child{
            color: transparentize($color: $color-text-main-White, $amount: 0.3);
            background: none;
            width: auto;
            padding: 0 20px;

            &:hover{
                color: $color-text-main-White;
                text-decoration: underline;
            }
        }

        &:last-child{
            color: $color-link-btn-red;
            background: none;
            background-color: #fff;

            &:hover{
                color: $color-text-main-White;
                background-color: $color-link-btn-hover;
            }
        }
    }
}
}


//STYLES FOR NAVBAR MENU -< JS//
.scroll_view{

    &-lock{
        overflow: hidden;
    }
}


//STYLE FOR MENU ITEM DROPDOWN HIDDEN_ITEM//
.hidden_item{
    display: none;
}

.btn_burger{
    margin: 0 0 0 auto;
    width:32px;
    height:32px;
    background: url(./images/icon-hamburger.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: inherit;

    &-active{
        background: url(./images/icon-close.svg);
          }

          @media (min-width:922px){
            display: none;
          }
}

//STYLES FOR HEADERNAVBAR//

@media (min-width: 768px){
    .scroll-top{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        height: 135px;
        padding: 0 20px * 3;
        transition: all 0.5s;

        &::after{
            content: "";
            display: absolute;
            left: 0;
            z-index: -1;
            width:100%;
            height: 135px;
            background: linear-gradient(to right top, $color-headGrdnd-start, $color-headGrdnd-end);
            border-radius: 0 0 25px 25px;
        }
    }
}

//STYLES FOR HEADER BANNER CONTENT//
.header__content{
    padding: 20px * 5 0;
    text-align: center;

    .header__title{
        h1{
            color: $color-text-main-White;
            font-size: 46px;
        }
    }

    .header__description{
        padding-top:20px * 2 ;

        p{
            color: transparentize($color:  $color-text-main-White, $amount: 0.2);
            font-weight: $font-Overpass-w600;
        }
    }
}

//STYLES FOR HEADER BANNER LINKS//

.header__linksBtn{
    justify-content: center;
    padding-top: 20px * 3;
    .link_btn_item{
        border: 2px solid #fff;

        &:first-child{
            color: $color-link-btn-red;
            background-color: #fff;

            a:hover{
                color: $color-text-main-White;
                background-color: $color-link-btn-hover;
            }
        }

        a:last-child{
            color: $color-text-main-White;
            background-color: $color-link-btn-hover;

            a:hover{
                color: $color-link-btn-red;
                background-color: #fff;
            }
        }
    }
}





//STYLES FOR MAIN SECTION//

main.container{
    overflow: hidden;
    padding-top: 20px * 3;

}

.container__section{
    @media(min-width:922px){
        position: relative;


        &:first-child{
            .container__section_row{
                flex-direction: row-reverse;
            }
        }

        &:last-child{
            img{
                transform: translateX(-430px);
            }
        }
    }
}


.section__title{
    width: 100%;
    text-align: center;
    font-size: 32px;


    @media(min-width:922px){
        position: absolute;
        top: 135px;
    }
}

.container__section_row{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;


    @media(min-width:922px){
        flex-direction:row;
        justify-content: center;
        text-align: left;

    }
}


.section_column{
    display: flex;
    flex-direction: column;


    @media(min-width:922px){
        width: 50%;
    }
}

.column__item{
    padding: 20px;

    h3{
        font-size: 24px;
    }
    p{
        margin: 20px;
        color: transparentize($color: $color-text-header, $amount: 0.2);
    line-height: 1.5;
    }
}

.item__image{

    .item__image_mobile{
        display:block;
    }
    .item__image_desktop{
        display: none;
    }

    img{
        object-fit: contain;
    }

    @media(min-width:922px){
        .item__image_mobile{
            display: none;
        }
        .item__image_desktop{
            display: block;
        }
    }
}


//STYLES FOR ASIDE SECTION//

.container__aside{
    position: relative;
    width: 100%;


    @media(max-width:991px){
        margin:20px * 3 auto;
    }

    .container__section_row{
        gap:0;
    }

    .section_column{
        align-items: center;
        width: 100%;

        img{
            width:100%;
        }

        @media(max-width:991px){

            &:last-child{
                padding-bottom: 20px * 5;
            }
        }
    }

    .column__item{

        h3{
            color: $color-text-main-White;
        }
        p{
            color: transparentize($color:  $color-text-main-White, $amount: 0.2);
        line-height: 1.5;
        }
    }
}

.aside__cover{
    position: absolute;
    bottom: 0;
    z-index: -100;
    width: 100%;
    height: 75%;
    background: linear-gradient(to right, $color-mainGrdnd-start, $color-mainGrdnd-end);
    border-radius: 0 100px 0 100px;
    overflow: hidden;

    .aside__cover_picture{
        width: 100%;
        height: 100%;
        background-image: url(./images/bg-pattern-circles.svg);
        background-repeat: no-repeat;
        background-position: -200px -55px;
    }

    @media(min-width:922px){
        height: 60%;
        bottom: 15%;
        transform: translateY(-15%);
    }
}


//STYLES FOR FOOTER//

.footer {
	margin-top: 20px * 5;
	background-color: $color-footer-bg;
	border-top-right-radius: 100px;

	.footer__navBar {
		display: grid;
		grid-auto-flow: row;
		padding: 20px * 3 0;
		justify-content: center;

		@media (min-width:576px) {
			grid-auto-flow: column;
			justify-content: space-evenly;
		}

		// .navBar_logo {
		// }

		.footer__navBar_item {
			width: auto;
			padding-top: 20px * 3;

			@media (min-width:1200px) {
				width: 280px;
			}

			.navBar_item-title {
				h4 {
					color: $color-text-main-White;
					margin-bottom: 20px* 2;
				}
			}

			.navBar_item-navLinks {
				li {
					margin-bottom: 20px;
				}

				a {
					// color: transparentize($color: $color-text-main-White, $amount: 0.3);
					color: $color-text-footer;

					&:hover {
						color: $color-text-main-White;
						text-decoration: underline;
					}
				}
			}
		}
	}
}
