@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
body {
  width: 100%;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.07rem;
}
body h1,
body h2,
body h3 {
  font-weight: 600;
  color: hsl(208, 49%, 24%);
}
body h4,
body a,
body li,
body * -item {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: hsl(208, 49%, 24%);
  text-decoration: none;
  list-style-type: none;
}
body a:hover {
  text-decoration: underline;
}
@media (max-width: 375px) {
  body::before {
    content: "";
    color: red;
    font-size: 5rem;
    line-height: 1.5;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 374px) {
  .container {
    display: none;
  }
}
.container .container__content {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: auto;
  background: linear-gradient(to right top, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-radius: 0 0 0 100px;
  overflow: hidden;
}

.header-cover {
  padding: 0 20px;
}
.header-coverbg {
  width: 100%;
  height: 100%;
  background-image: url(./images/bg-pattern-intro-mobile.svg);
  background-position-x: 35%;
  background-position-y: 35%;
}
@media (min-width: 1200px) {
  .header-coverbg {
    background-image: url(./images/bg-pattern-intro-desktop.svg);
    background-position-x: 25%;
    background-position-y: center;
  }
}

.link_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.link_buttons .link_btn_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155.25px;
  height: 50px;
  border-radius: 25px;
  text-decoration: none;
}
@media (min-width: 992px) {
  .link_buttons .link_btn_item {
    width: 135px;
  }
}

.header__navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  gap: 20px;
}

.container__navBar {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  padding: 0 20px;
  overflow: auto;
}
@media (min-width: 922px) {
  .container__navBar {
    position: relative;
    height: auto;
    top: 0;
    left: 0;
    padding: 0;
    overflow: inherit;
  }
}
.container__navBar-active {
  top: 100px;
  position: fixed;
}

.container__navBar_cover {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 10px 20px hsl(207, 13%, 34%);
  padding-bottom: 20px;
}
@media (min-width: 922px) {
  .container__navBar_cover {
    flex-direction: row;
    justify-content: space-between;
    background-color: inherit;
    padding: 0;
    box-shadow: none;
  }
}

.NavBar__menu {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
@media (min-width: 922px) {
  .NavBar__menu {
    flex-direction: row;
    width: auto;
  }
}

.narBar__menu_item {
  position: relative;
}
.narBar__menu_item h4::after {
  display: inline-block;
  content: url(./images/icon-arrow-dark.svg);
  margin-left: 5px;
}
.narBar__menu_item h4::hover {
  text-decoration: underline;
  cursor: pointer;
}
.narBar__menu_item h4::hover::after {
  transform: rotate(-90deg);
}
@media (min-width: 922px) {
  .narBar__menu_item h4 {
    color: hsl(0, 0%, 100%);
  }
  .narBar__menu_item h4::after {
    content: url(./images/icon-arrow-light.svg);
  }
  .narBar__menu_item h4:hover {
    color: hsl(0, 0%, 100%);
  }
}

.menu_item_dropdown {
  position: relative;
  padding-top: 20px;
}
@media (min-width: 922px) {
  .menu_item_dropdown {
    position: absolute;
  }
}

.item_dropdown_cover {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(63, 65, 100, 0.2);
}
.item_dropdown_cover li {
  margin-top: 20px;
}
@media (min-width: 922px) {
  .item_dropdown_cover {
    background-color: #fff;
    padding-right: 40px;
    box-shadow: 0 5px 5px 5px rgba(75, 88, 98, 0.2);
  }
}

.navBar__linksBtn {
  flex-direction: column;
  gap: 0;
  width: 95%;
  border-top: solid 1px rgba(63, 65, 100, 0.2);
  margin-top: 20px;
}
.navBar__linksBtn .link_btn_item:first-child:hover {
  text-decoration: underline;
}
.navBar__linksBtn .link_btn_item:last-child {
  color: hsl(0, 0%, 100%);
  background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
}
.navBar__linksBtn .link_btn_item:last-child:hover {
  color: hsl(356, 100%, 66%);
  background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(355, 100%, 74%));
}
@media (min-width: 922px) {
  .navBar__linksBtn {
    flex-direction: row;
    gap: 20px;
    width: auto;
    border: none;
    margin: 0;
  }
  .navBar__linksBtn .link_btn_item:first-child {
    color: rgba(255, 255, 255, 0.7);
    background: none;
    width: auto;
    padding: 0 20px;
  }
  .navBar__linksBtn .link_btn_item:first-child:hover {
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
  }
  .navBar__linksBtn .link_btn_item:last-child {
    color: hsl(356, 100%, 66%);
    background: none;
    background-color: #fff;
  }
  .navBar__linksBtn .link_btn_item:last-child:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(355, 100%, 74%);
  }
}

.scroll_view-lock {
  overflow: hidden;
}

.hidden_item {
  display: none;
}

.btn_burger {
  margin: 0 0 0 auto;
  width: 32px;
  height: 32px;
  background: url(./images/icon-hamburger.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: inherit;
}
.btn_burger-active {
  background: url(./images/icon-close.svg);
}
@media (min-width: 922px) {
  .btn_burger {
    display: none;
  }
}

@media (min-width: 768px) {
  .scroll-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 135px;
    padding: 0 60px;
    transition: all 0.5s;
  }
  .scroll-top::after {
    content: "";
    display: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 135px;
    background: linear-gradient(to right top, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-radius: 0 0 25px 25px;
  }
}
.header__content {
  padding: 100px 0;
  text-align: center;
}
.header__content .header__title h1 {
  color: hsl(0, 0%, 100%);
  font-size: 46px;
}
.header__content .header__description {
  padding-top: 40px;
}
.header__content .header__description p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
}

.header__linksBtn {
  justify-content: center;
  padding-top: 60px;
}
.header__linksBtn .link_btn_item {
  border: 2px solid #fff;
}
.header__linksBtn .link_btn_item:first-child {
  color: hsl(356, 100%, 66%);
  background-color: #fff;
}
.header__linksBtn .link_btn_item:first-child a:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(355, 100%, 74%);
}
.header__linksBtn .link_btn_item a:last-child {
  color: hsl(0, 0%, 100%);
  background-color: hsl(355, 100%, 74%);
}
.header__linksBtn .link_btn_item a:last-child a:hover {
  color: hsl(356, 100%, 66%);
  background-color: #fff;
}/*# sourceMappingURL=styles.css.map */